.authed, .unauthed { display: none; }

.option {
	width: 100%;
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
}

select {
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}